@import url("https://fonts.googleapis.com/css2?family=Elsie&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elsie&family=Inter&display=swap");
@import url("https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css");
@font-face {
  font-family: "Monlam";
  src: url("/font/MonlamTBslim.woff2") format("woff2"),
    url("/font/MonlamTBslim.woff") format("woff"),
    url("/font/MonlamTBslim.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hindi";
  src: url("/font/Poppins-Regular.woff2") format("woff2"),
    url("/font/Poppins-Regular.woff") format("woff"),
    url("/font/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Monlam";
}
body {
  height: 100dvh;
  width: 100dvw;
}
